<div class="container mt-5">
  <h2 class="">Login</h2>
  <p class="mt-4"><span>*</span> Indicates a required field</p>

  <form class="p-4">
    <div class="mb-3 col-12 col-md-4">
      <label for="exampleInputEmail1" class="form-label fw-bold">Email address <span>*</span></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-12 col-md-2">
      <label for="exampleInputPassword1" class="form-label fw-bold">Password <span>*</span></label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="row p-2">
    <button type="submit" class="btn btn-danger px-4 col-6">Log in</button>
    <p class="p col-6 my-auto">Forgot Password</p>
  </div>
    <p class="mt-4">If you have participated in NN/g training and need help accessing your account, please contact us at <span class="span">supportnngroup.com.</span></p>
    <p class="mt-4">How to create an account: It's not possible to sign up for an account unless you are a participant in NN/g's live training courses, because accounts are used solely for participating in training.</p>
  </form>
</div>
