  <div class="banner" *ngIf="showBanner">
    <nav class="navbar navbar-expand-lg bg-body-tertiary text-over-svg">
      <div class="container-fluid">
        <a class="navbar-brand px-4" routerLink="/home">
          <img
            src="https://www.pngkey.com/png/full/343-3438143_nielsen-norman-group-logo.png"
            alt=""
            class="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Training & UX Certification
              </a>
              <ul class="dropdown-menu px-4 py-2">
                <li>
                  <a class="dropdown-item" routerLink="/all-courses"
                    >All Courses</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/live-virtual-training"
                    >Live Virtual Training</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/private-team-training"
                    >Private Team Training</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/ux-certification"
                    >UX Certification</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/articles-videos"
                >Articles & Videos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/consulting">Consulting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/reports-books">Reports & Books</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About NN/g
              </a>
              <ul class="dropdown-menu px-4 py-2">
                <li>
                  <a class="dropdown-item" routerLink="/overview">Overview</a>
                </li>
                <li><a class="dropdown-item" routerLink="/people">People</a></li>
                <li>
                  <a class="dropdown-item" routerLink="/clients">Clients</a>
                </li>
                <li><a class="dropdown-item" routerLink="/news">News</a></li>
                <li>
                  <a class="dropdown-item" routerLink="/contact-us">Contact Us</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <div class="d-flex p-2 mt-1">
              <a class="nav-link" routerLink="/login">Log in</a>
            </div>
            <div class="d-flex border rounded-pill p-2">
              <input
                class="form-control me-2 border border-0 rounded-pill"
                type="search"
                aria-label="Search"
              />
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="MyDiv px-5">
      <h1 class="">
        Research-based, practitioner-focused.<br />
        Your source for UX guidance and training.
      </h1>

      <div class="d-flex gap-4 mt-4">
        <button class="btn1">Upcomming Courses</button>
        <button class="btn2">All Courses</button>
      </div>
    </div>
  </div>
  
