<div class="mainDiv p-4">
  <div class="container p-2">
    <div
      class="outerDiv row text-white d-flex justify-content-around gap-5 my-5"
    >
      <div class="innerDiv1 col-md-4">
        <h2 class="myfont">
          Subscribe to Our <br class="d-block d-lg-none" />
          Newsletter
        </h2>
        <p>
          Get weekly UX articles, videos, and upcoming training events straight
          to your inbox.
        </p>
        <div class="input-group">
          <div class="d-flex">
            <span
              class="input-group-text bg-light text-dark border-0 rounded-end rounded-pill span p-2"
              >EMAIL</span
            >
            <input
              type="email"
              class="form-control border-0 rounded-pill rounded-start bg-white input p-2 inp"
              placeholder="norman@gmail.com"
            />
          </div>
          <button class="btn rounded-pill fw-bold px-4 py-0 Subscribe">
            Subscribe
          </button>
        </div>
      </div>

      <div class="innerDiv2 col-md-5">
        <h2>Follow Us</h2>
        <div class="icon-container d-flex justify-content-around mt-4">
          <div class="icon-item text-center" *ngFor="let icon of icons">
            <i [class]="icon.class"></i>
            <p>{{ icon.name }}</p>
          </div>
        </div>

        <div></div>
      </div>
    </div>
  </div>
</div>

<div class="secDiv p-4">
  <div class="container text-white">
    <div class="row d-flex justify-content-between">
      <div class="col-md-2 col-6 mb-3 mt-4">
        <h3>Certification</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">What is UX Certification?</a></li>
          <li><a>Specialties</a></li>
          <li><a>Exams</a></li>
          <li><a>UX Certified People</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 mb-3 mt-4">
        <h3>UX Training</h3>
        <ul class="list-unstyled">
          <li><a>All Courses</a></li>
          <li><a>Live Online Training</a></li>
          <li><a>Private Team Training</a></li>
          <li><a>Course Calendar</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 mb-3 mt-4">
        <h3 class="text-white">Consulting</h3>
        <ul class="list-unstyled">
          <li><a>Expert Review</a></li>
          <li><a>User Testing</a></li>
          <li><a>Customized Research</a></li>
          <li><a>Applied Workshops</a></li>
          <li><a>Keynote Speaking</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 mb-3 mt-4">
        <h3>Free <br />Guidance</h3>
        <ul class="list-unstyled">
          <li><a>Articles & Videos</a></li>
          <li><a>The NN/g UX Podcast</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 mb-3 mt-4">
        <h3>About</h3>
        <ul class="list-unstyled">
          <li><a>Why NN/g</a></li>
          <li><a>About Us</a></li>
          <li><a>People</a></li>
          <li><a>Clients</a></li>
          <li><a>Contact</a></li>
          <li><a>Return Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark text-light py-3">
  <div class="container text-center">
    <p class="mb-0">
      Copyright © 1998-2024 Nielsen Norman Group, All Rights Reserved.
    </p>
    <div class="d-flex justify-content-center mt-2">
      <a href="#" class="text-light mx-2">Cookie Preferences</a>
      <span class="text-light">/</span>
      <a href="#" class="text-light mx-2">Cookie Declaration</a>
      <span class="text-light">/</span>
      <a href="#" class="text-light mx-2">Privacy Policy</a>
    </div>
  </div>
</footer>
