<div class="part1">
  <div class="container p-5">
    <h1>Team Training & UX Certification</h1>
    <h6 class="col-12 col-md-7 mt-4">
      Team training courses can help build a unified focus and an understanding
      of UX approaches for your entire team.
    </h6>
  </div>
</div>

<div class="container p-5">
  <div class="row">
      <div class="col-12 col-md-8 ">
    <div class="">
      <h2>Useful for All Types of Teams</h2>
      <p>Our private team training is ideal for teams who are:</p>
      <ul>
        <li>Kicking off large, complex projects</li>
        <li>Looking to change processes at scale</li>
        <li>Expanding their UX knowledge and skills</li>
      </ul>
      <h2>How It Works</h2>
      <p>
        Reach out to us to get started. We’re happy to help you determine what
        will be best for your team.
      </p>
      <ol>
        <li><b>Choose a date</b> when your team will be available.</li>
        <li>
          <b>Choose one or more</b> <span><b> live UX courses.</b></span> Most courses
          can be customized to meet your goals. Alternatively, we can design a
          custom training workshop for your team. Team training courses will be
          eligible for <span>UX Certification</span> unless you choose to
          customize substantially.
        </li>
        <li>
          <b>Choose virtual or in-person training</b>. Check out the pricing
          below for details.
        </li>
      </ol>

      <h2>Pricing</h2>
      <p>Virtual</p>
      <p>
        <b>$15,000 USD per course.</b> Each course is one full day or split into
        two half-day sessions (additional $2k), with
        <b>course sizes up to 70 people</b>. Customized courses may increase the
        cost.
      </p>

      <p>In-Person</p>
      <p>
        <b>$22,000 USD per course.</b> Prices are quoted for USA and Canada.
        Travel expenses are extra. For in-person presentations in other
        countries please contact us. Customized courses may increase the cost.
      </p>
    </div>

    <div class="parts">
      <h3>Full List of Team Training Courses</h3>
      <h6>Recommended Courses</h6>
      <p>
        If you're not sure where to start, consider these popular course
        options:
      </p>
      <div>
        <p>UX Basic Training</p>
        <p>The Human Mind and Usability</p>
        <p>Design Thinking Essentials</p>
        <p>Lean UX and Agile</p>
        <p>Omnichannel Journeys and Customer Experience</p>
        <p>Usability Testing</p>
      </div>

      <h6>Design Courses</h6>
      <div>
        <p>Application Design for Web and Desktop</p>
        <p>Designing Complex Apps for Specialized Domains</p>
        <p>Effective Ideation Techniques for UX Design</p>
        <p>Emerging Patterns in Interface Design</p>
        <p>Design Thinking Essentials</p>
        <p>The Human Mind and Usability</p>
        <p>Mobile User Experience</p>
        <p>Omnichannel Journeys and Customer Experience</p>
        <p>Personas: Turn User Data Into User-Centered Design</p>
        <p>Persuasive and Emotional Design</p>
        <p>Storytelling to Present UX Work</p>
        <p>UX Basic Training</p>
        <p>UX Deliverables</p>
        <p>Web Page UX Design</p>
        <p>Visual Design Fundamentals</p>
      </div>

      <h6>Content</h6>
      <div>
        <p>Writing Compelling Digital Copy</p>
        <span
          >($2,000 higher fee, due to additional customization needs for this
          topic)
        </span>

        <p>Content Strategy and Governance</p>
        <p>Information Architecture</p>
      </div>

      <h6>Research Methods</h6>
      <div>
        <p>Usability Testing</p>
        <p>User Interviews</p>
        <p>Discovery: Building the Right Thing</p>
        <p>Ethnographic UX Research: Diary Studies and Contextual Inquiries</p>
        <p>Measuring UX and ROI</p>
        <p>Analytics and User Experience</p>
        <p>Statistics for UX</p>
        <p>Journey Mapping to Understand Customer Needs</p>
        <p>Remote User Research</p>
        <p>ResearchOps: Scaling User Research</p>
      </div>

      <h6>UX Management and Teamwork</h6>
      <div>
        <p>UX Leader: Essential Skills for Any UX Practitioner</p>
        <p>DesignOps: Scaling UX Design and Research</p>
        <p>Facilitating UX Workshops</p>
        <p>Lean UX and Agile</p>
        <p>Service Blueprinting</p>
        <p>The One-Person UX Team</p>
        <p>UX Roadmaps</p>
        <p>Product and UX: Building Partnerships for Better Outcomes</p>
        <p>Customer-Journey Management</p>
        <p>Successful Stakeholder Relationships</p>
        <p>Content Strategy and Governance</p>
      </div>
    </div>

    <div class="">
      <h3>Frequently Asked Questions about Team Training</h3>
      <div class="space">
        <p><b>Q: How many people can attend? </b></p>
        <p>
          <b>A: </b>Each course is one full day, with up to 70 attendees. Please
          contact us if you have larger class sizes.
        </p>
      </div>

      <div class="space">
        <p><b>Q: Can we do multiple topics or courses?</b></p>
        <p>
          <b>A:</b> Yes, you can select several course topics and schedule
          multiple days of training.
        </p>
      </div>

      <div class="space">
        <p><b>Q: Is Team Training eligible for UX Certification credit?</b></p>
        <div class="row">
          <p class="col-8">
            <b>A: </b>Yes. Participants in the workshop will be eligible to earn
            1 UX Certification credit for each team training course they attend.
            In order to earn a UX Certificate, each attendee must attend 5
            different courses, and pass an online exam for each course. Courses
            can be completed in a single week,or spread out over time, and
            attended at a Team Training, at a UX Conference, or a combination.
          </p>
          <p class="col-2">
            <img src="https://media.nngroup.com/nng-uxc-badge.png" alt="" />
          </p>
        </div>
      </div>

      <div class="space">
        <p>
          <b
            >Q: What’s the difference between “Team” and “Intensive”
            training?</b
          >
        </p>
        <p>
          <b>A:</b> Our team trainings focus on mastering the most important
          concepts and UX techniques, using example materials we provide. By
          contrast, in the Intensive Applied format, you will work with your
          real problems, your real customer data, and your real constraints to
          begin identifying actionable solution.
        </p>
      </div>
    </div>
    <div class="container part2 mt-5">
      <i>Contact us to learn more about Team Training:</i>   <br>
      <span class="span">trainingnngroup.com <br>
        +1 (415) 636-5011</span>
    </div>
  </div>

  

  <div class="col-12 col-md-4">
    <div class="card p-4">
      <h6><i>Upgrade to an Intensive Applied Workshop</i></h6>
      <p>
        If your team needs to both learn advanced UX methods and <b>begin applying those methods to your real design challenges,</b> consider our 2-day custom workshop format. Learn more about <span>NN/g Intensive Applied Workshops.</span>
      </p>
      <img
        src="https://media.nngroup.com/media/pagebits/data/images/IMG_1090_copy_2000x1500.jpg.600x450_q75_autocrop_crop-smart_upscale.jpg"
        alt=""
      />
    </div>


    <div class="container part2 py-5">
      <i>Contact us to learn more about Team Training:</i><br>
      <span>trainingnngroup.com <br>
        +1 (415) 636-5011</span>
    </div>

    <p><i>Team Training Participant Comments</i></p>

    <p>"The NN/g training was both instructional for inexperienced individuals and stimulating for more experienced people. I'm confident that the training will improve the user experience of our website."</p>

    <p class="p">Dave Scheirer, Manager, Interactive Marketing Strategy at Esri</p>

    <p>"We work at a major research university and we're expected to base our work on data. Nielsen Norman Group introduced us to the concepts of usability testing and then trained our staff to implement those concepts. Their methods are based on rigorous research drawn from many fields of social and hard science. When we've adhered to the rules we learned from NNG, we've been successful. When we've veered away from those rules, not so much."</p>

    <p class="p">Steve Maravetz, Director of New Media at University of Iowa Health Care</p>

    <p>"NN/g brought a vast amount of best practice advice and examples and taught our various campus representatives skills to write and lay out usable content... This allowed us to implement an effective small group to design and manage the academy web strategy, yet leverage the entire campus to create excellent, tested, and usable content. Thank you Nielsen Norman Group."</p>

    <p class="p">Scott Wade, Director of Information Technology Services (ITS) at The University of Montana Western</p>

    <div class="img">
      <img src="https://media.nngroup.com/media/pagebits/data/images/20190121_Hong_Kong-010.jpg.600x450_q75_autocrop_crop-smart_upscale.jpg" alt="">
      <img src="https://media.nngroup.com/media/pagebits/data/images/20170900_NYC-026_2000x1500.jpg.600x450_q75_autocrop_crop-smart_upscale.jpg" alt="">
      <img src="https://media.nngroup.com/media/pagebits/data/images/20171201_Vegas-116_2000x1500.jpg.600x450_q75_autocrop_crop-smart_upscale.jpg" alt="">
      <img src="https://media.nngroup.com/media/pagebits/data/images/IMG_9269_2000x1500.jpg.600x450_q75_autocrop_crop-smart_upscale.jpg" alt="">
      <img src="https://media.nngroup.com/media/pagebits/data/images/20181020_NYC-028.jpg.600x450_q75_autocrop_crop-smart_upscale.jpg" alt="">
    </div>
  </div>
</div>
</div>



