.part1 h1 {
  font-weight: 400;
  font-size: 31px;
  color: rgba(0, 0, 0, 0.874);
}

.part1 p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.822);
}

.part1 {
  background-color: #fffbfb;
}

h2 {
  font-size: 18px;
  color: #017698;
  cursor: pointer;
}

.myDiv p {
  font-size: 18px;
  cursor: pointer;
}

.myDivs p {
  font-size: 18px;
  color: #017698;
  cursor: pointer;
}

.myDivs p:hover,
.myDiv h2:hover {
  text-decoration: underline;
}

.my-books p {
  font-size: 18px;
  color: #000000;
}

.card {
  width: 270px;
  height: 450px;
  cursor: pointer;
}

.card p {
  color: #017698;
  cursor: pointer;
}
.card:hover {
  text-decoration: underline 1.5px solid #017698;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 180px;
    height: 350px;
  }
}

.card i {
  color: #d695f7;
}

.fa-arrow-right-long{
  margin-left: 60px;
}

.mmcard:hover{
   border: 2px solid #017698;
}