<div class="part1">
  <div class="container p-4">
    <h1>Consulting Services</h1>
    <p class="p-2">
      NN/g experts can evaluate your design through research or review, train
      your team,<br />
      and lead workshops to develop product and service strategies.
    </p>
  </div>
</div>

<div class="part1 container">
  <div class="row">
    <div class="p-4 myDivs col-md-6">
      <h1>UX Research Reports</h1>
      <p class="text-black text-decoration-none">
        Find research reports containing guidelines, best practices, case
        studies, and methodologies about these critical aspects of user
        experience design:
      </p>
      <div class="row">
        <div class="col mycol">
          <p>Accessibility</p>
          <p>Agile</p>
          <p>Application Design</p>
          <p>B2B Websites</p>
          <p>Content Strategy</p>
          <p>Corporate Websites</p>
          <p>Corporate Websites</p>
          <p>Ecommerce</p>
          <p>Email</p>
          <p>Eyetracking</p>
          <p>Information Architecture</p>
          <p>Interaction Design</p>
          <p>International Users</p>
        </div>
        <div class="col mycol">
          <p>Accessibility</p>
          <p>Agile</p>
          <p>Application Design</p>
          <p>B2B Websites</p>
          <p>Content Strategy</p>
          <p>Corporate Websites</p>
          <p>Corporate Websites</p>
          <p>Ecommerce</p>
          <p>Email</p>
          <p>Eyetracking</p>
          <p>Information Architecture</p>
          <p>Interaction Design</p>
          <p>International Users</p>
        </div>
      </div>
    </div>

    <div class="p-4 myDiv col-md-6">
      <div class="my-4">
        <h1 class="mb-4">Latest UX Research Reports</h1>
        <h2>
          Helping Users Make Decisions: Reduce Choice Overload and Avoid
          Overwhelming Users
        </h2>
        <p>
          Make decision making easier for users by learning the psychology
          behind what makes a choice challenging. Predict how difficult
          decisions will be for users and apply the interface design patterns
          that will make things simpler.
        </p>
      </div>

      <div class="my-4">
        <h2>Intranet Usability Guidelines</h2>
        <p>
          Increase employee intranet usage and productivity with 300 design and
          content management guidelines (in 4 volumes). Get 800 intranet
          screenshots and evidence-based recommendations. Buy individual volumes
          or save when you purchase all 4 volumes.
        </p>
      </div>

      <div class="my-4">
        <h2>Intranet Design Annual: 2023</h2>
        <p>
          This 483-page report showcases screenshots and case studies from the
          10-best intranets of 2023.
        </p>
      </div>

      <div class="my-4">
        <h2>Ecommerce User Experience</h2>
        <p>
          Improve your customers’ online shopping experience with 1037
          recommendations (in 13 volumes) illustrated with more than 3100
          screenshots. Buy individual reports, or save 58% when you purchase all
          13 volumes together.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container my-books">
  <h3>Books</h3>
  <p>
    NN/g books have been instrumental in defining the fields of usability and
    user experience. Explore some of our most influential titles:
  </p>

  <div class="container my-4">
    <div class="row gap-2 gap-sm-5 mx-auto">
      <div class="card col-md-2 py-5">
        <p>Digital Icons that Work</p>
        <img
          src="https://media.nngroup.com/media/publications/books/Digital_Icons_That_Work_cover.png.450x600_q75_autocrop_crop-scale_upscale.png"
          alt=""
        />
      </div>

      <div class="card col-md-3 py-4">
        <p>Design for a Better World</p>
        <img
          src="https://media.nngroup.com/media/publications/books/Design_For_A_Better_World.jpg.450x600_q75_autocrop_crop-scale_upscale.jpg"
          alt=""
        />
      </div>
      <div class="card col-md-3 py-4">
        <p>The Design of Everyday Things</p>
        <img
          src="https://media.nngroup.com/media/publications/books/2013_design_of_everyday_things.jpg.450x600_q75_autocrop_crop-scale_upscale.jpg"
          alt=""
        />
      </div>
      <div class="card col-md-3 py-5 mmcard">
        <div class="my-auto mx-auto ">
          <p>See more of our books</p>
          <i class="fa-solid fa-arrow-right-long fs-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>
