
<div class="py-5">
<div class="container py-5">
  <div class="row">
  <div class="col-12 col-md-6 myCol">
    <h2>Contact Information</h2>
    <h4>Phone</h4>
    <p class="contact hover-underline">+1 (415) 685-4230</p>

    <div class="my-5">UX Conference: <span> eventsnngroup.com </span></div>
    <div class="mt-5">UX Certification <span>certificationnngroup.com </span></div>
    <p class="p mx-4">Verify Certification by Name or ID</p>

    <div class="mt-5">Team Training and Keynotes:<span>trainingnngroup.com </span></div>
    <div>Consulting:<span>consultingnngroup.com </span></div>

    <div class="mt-5">
      General Questions & Research Reports: <span>supportnngroup.com </span>
    </div>
    <p class="p text-black">
     <span class="p"> Frequently Asked Questions</span> about reports, licenses, and usage
    </p>
  </div>

  <div class="col-12 col-md-6">
    <h4 class="mt-5">Mailing Address</h4>
  <div class="div">
      <p>Nielsen Norman Group</p>
      <p>8 The Green, Suite #14572</p>
      <p>Dover, DE 19901 USA</p>

      <p class="mt-4">
        <span class="text-black no-hover-effect">Please do not send physical mail intended for Don Norman. </span>Material sent to our corporate offices might take weeks to reach him. To contact Don Norman, to engage his services, or to send him stuff, visit: <span class="fw-light">https://jnd.org/about-don-norman/consulting-and-talks/.</span>
      </p>
    </div>
   
  </div>
</div>
</div>
</div>