<div class="div p-5">
  <div class="container">
    <h3>Virtual Training</h3>
    <p class="col-12 col-md-6">
      Our live, on-line learning experience shares UX knowledge with attendees
      and organizations from around the world.
    </p>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="mt-5 p">Join the NN/g Virtual UX Training:</p>
      <ul>
        <li>
          <b class="fw-bold">100% live</b> UX training courses using
          <b>2-way video conferencing</b> with <span>NN/g experts</span> and
          invited speakers
        </li>
        <li>Hands-on practice with <b>collaborative digital exercises</b></li>
        <li>
          Earn <span>UX Certification</span> online, with flexible schedules
        </li>
        <li>
          Networking in the <b>NN/g UX Community</b> on Slack; find out
          <span class="span">who you'll meet</span>
        </li>
        <li>No sales pitches, just reliable UX guidance</li>

        <p>More about UX Training: <span> Convince Your Boss</span></p>
      </ul>
    </div>
    <div class="col-md-6 mt-5 d-none d-md-block">
      <img
        src="https://media.nngroup.com/media/pagebits/data/images/Learning_UX_by_Doing_UX_Instagram_Thumbnail-KM.jpg.710x540_q75_autocrop_crop-scale_upscale.jpg"
        alt=""
      />
    </div>
  </div>
</div>

<div class="div py-5">
  <div class="container">
    <h4>How to Find and Register for Training</h4>
    <p class="mb-0 mt-4">
      Each virtual training event offers a variety of courses in UX design,
      research and management.
    </p>
    <p>
      Choose a date and format that works for you, then browse course options.
      Pay only for the courses you attend.
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>Upcoming Virtual Training</h5>
        <div class="card cards">
          <div class="mydiv">virtual training</div>
          <h6>October 5 - 11</h6>
          <div>8 pm - 3 am Calcutta time</div>
          <div><i>full-day Courses</i></div>
        </div>

        <div class="card cards">
          <div class="mydiv">virtual training</div>
          <h6>October 24 - 11</h6>
          <div>8 pm - 3 am Calcutta time</div>
          <div><i>full-day Courses</i></div>
        </div>

        <div class="card cards">
          <div class="mydiv">virtual training</div>
          <h6>October 3 - 12</h6>
          <div>8 pm - 3 am Calcutta time</div>
          <div><i>full-day Courses</i></div>
        </div>

        <div class="card cards">
          <div class="mydiv">virtual training</div>
          <h6>October 5 - 11</h6>
          <div>8 pm - 3 am Calcutta time</div>
          <div><i>full-day Courses</i></div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <h5 class="mb-0">We offer 2 virtual course formats</h5>
        <p class="">to suit your schedule:</p>
        <div class="img">
          <div class="row">
            <div class="col-4 px-5">
              <img
                src="https://media.nngroup.com/media/editor/2020/04/25/calendar-full-day_enlargedtext.png"
                alt=""
                class="my-auto px-auto"
              />
            </div>
            <div class="col-8">
              <h5 class="h5">1 Full day per Course</h5>
              <p>
                Each course takes place over a single day, lasting 7 hours
                (including breaks).
              </p>
            </div>
            <p class="text-center">or</p>
          </div>
          <div class="row">
            <div class="col-4">
              <img
                src="https://media.nngroup.com/media/editor/2020/04/25/calendar-half-days_enlargedtext.png"
                alt=""
                class="imgs"
              />
            </div>
            <div class="col-8 mb-5">
              <h5>2 Half-days per Course</h5>
              <p>
                Each course meets across 2 consecutive days, for 3.5 hours each
                day (including one break). You must attend both days.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-4 text-center">
              <h5>Future UX Training</h5>
              <img
                src="https://media.nngroup.com/static/img/conference_mail.png"
                alt=""
                class="imgs1"
              />
            </div>
            <div class="col-8">
              <p class="">
                <span class="span">Sign up for our weekly newsletter</span> to
                stay updated about future locations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4>What You'll Learn</h4>
  <p>
    Each training event offers a different combination of courses. With more
    than 50 full-day training courses to choose from at various events, there's
    something for everyone.
  </p>
  <p>
    Read detailed course descriptions (and upcoming dates) for some of our most
    popular courses:
  </p>
  <div class="row gap-5 d-flex justify-content-evenly">
    <div class="col-12 col-md-3">
      <div class="card1 cd1">
        <div class="yellow"></div>
        <div class="text-center">
          <img
            src="https://media.nngroup.com/media/courses/icons/Generating_Big_Ideas.svg"
            alt=""
          />
        </div>
        <div class="p-2 mydivs">
          <p>Design Thinking Essentials</p>
          <div>
            Unearth user pain points to drive breakthrough design concepts
          </div>
          <div class="d-flex">
            <div class="triangle"></div>
            <p class="m-2 fs-5">INTERACTION</p>
          </div>
        </div>
      </div>
      <p class="p">more <span class="fw-bold">Interaction</span> courses</p>
    </div>

    <div class="col-12 col-md-3">
      <div class="card1 cd2">
        <div class="blue"></div>
        <div class="text-center">
          <img
            src="https://media.nngroup.com/media/courses/icons/Measuring_UX_and_ROI.svg"
            alt=""
          />
        </div>
        <div class="p-2 mydivs">
          <p>Design Thinking Essentials</p>
          <div>
            Unearth user pain points to drive breakthrough design concepts
          </div>
          <div class="d-flex">
            <div class="circle"></div>
            <p class="m-2 fs-5">RESEARCH</p>
          </div>
        </div>
      </div>
      <p class="p">more <span class="fw-bold">Research</span> courses</p>
    </div>

    <div class="col-12 col-md-3">
      <div class="card1 cd3">
        <div class="green"></div>
        <div class="text-center">
          <img
            src="https://media.nngroup.com/media/courses/icons/Generating_Big_Ideas.svg"
            alt=""
          />
        </div>
        <div class="p-2 mydivs">
          <p>Design Thinking Essentials</p>
          <div>
            Unearth user pain points to drive breakthrough design concepts
          </div>
          <div class="d-flex">
            <div class="rectangle"></div>
            <p class="m-2 fs-5">INTERACTION</p>
          </div>
        </div>
      </div>
      <p class="p">more <span class="fw-bold">Management</span> courses</p>
    </div>
  </div>
  <div class="text-center">
    <button class="btn text-white fw-bold">Explore All Courses</button>
  </div>
</div>

<div class="div myCon">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h3>UX Certification</h3>
        <p>
          <span class="fw-bold">Earn UX Certification.</span> This exam-based
          credential reinforces learning and boosts your credibility.
        </p>
        <p><i>Earn UX Certification.</i></p>
        <ul>
          <li>
            Attend any 5 UX courses (at one event, or spread out across several
            events)
          </li>
          <li>
            Pass an online exam for each course the same day, or within 35 days
          </li>
          <li>
            Pass an online exam for each course the same day, or within 35 days
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-3">
        <img src="https://media.nngroup.com/nng-uxc-badge.png" alt="" />
      </div>
    </div>
    <div class="text-center my-5">
      <button class="btn text-white fw-bold">
        Learn more about UX Certification
      </button>
    </div>
  </div>
</div>

<div class="myContainer">
  <div class="container">
    <h3>Who will you meet?</h3>
    <p>
      Leading organizations have sent more than 50,000 professionals to NN/g
      training since 1998. Here are a few companies who have invested in UX
      training in 2019-2020:
    </p>

    <div class="row myrow">
      <div class="col-6">
        <p>Ableton AG</p>
        <p>Accenture</p>
        <p>Adobe</p>
        <p>Amazon</p>
        <p>American Express</p>
        <p>AppFolio</p>
        <p>Avira Operations GmbH & Co. KG</p>
        <p>Baillie Gifford</p>
        <p>Booking.com</p>
        <p>Booz Allen Hamilton</p>
        <p>BT</p>
        <p>Capgemini</p>
        <p>Capital One</p>
        <p>Central Provident Fund Board</p>
        <p>Cisco</p>
        <p>Citizens Bank</p>
        <p>Civica</p>
        <p>Defence Science & Technology Agency, Singapore</p>
        <p>Dell</p>
        <p>Deloitte Digital</p>
        <p>Expedia Group</p>
        <p>Funnel</p>
        <p>Google</p>
        <p>Government Technology Agency, Singapore</p>
        <p>Hong Kong Hospital Authority</p>
        <p>HULU</p>
      </div>

      <div class="col-6">
        <p>IBM</p>
        <p>John Deere</p>
        <p>JP Morgan Chase</p>
        <p>Kaiser Permanente</p>
        <p>Lockheed Martin</p>
        <p>Mastercard</p>
        <p>McMaster-Carr Supply Company</p>
        <p>Northrop Grumman</p>
        <p>Nuffic</p>
        <p>Office for National Statistics, UK</p>
        <p>Pinnacol Assurance</p>
        <p>Procter & Gamble</p>
        <p>Publicis Sapient</p>
        <p>PwC</p>
        <p>Sandia National Laboratories</p>
        <p>ServiceNow</p>
        <p>Shopify</p>
        <p>Standard Chartered Bank</p>
        <p>Travelers Insurance</p>
        <p>USAA</p>
        <p>Verizon</p>
        <p>Walmart</p>
        <p>Webstep AS</p>
        <p>Wells Fargo</p>
        <p>Western Asset Management</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="text-center gg">See All Companies</div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 mypara">
      <h3>Convince Your Boss: Why You Should Attend</h3>
      <p>
        With intensive courses and optional exam-based UX Certification, NN/g
        user experience training provides the knowledge, skills, and credibility
        you need to create designs that are both usable and appealing.
      </p>
      <h2>UX training is a valuable investment</h2>
      <p>
        Learning how to create more successful interfaces is cheap compared with
        the amount of time and money organizations waste on uninformed design
        debates, poor decisions and fixing underperforming interfaces.
        Well-informed people drive good decisions and avoid costly mistakes.
      </p>
      <h2>Intensive courses provide practical education</h2>
      <p>
        Our live, intensive courses run allow attendees to embrace a topic,
        understand the foundation, learn methods, apply these methods in class
        exercises and discuss with instructors and classmates to absorb the
        subject matter. Browse the extensive course listing & for detailed topic
        lists and course summaries.
      </p>
      <h2>Based on empirical research</h2>
      <p>
        Research is the foundation of our training courses. We've observed
        thousands of people interacting with interfaces. We are continually
        testing new interfaces and compiling data which we provide in our
        courses to help attendees eliminate opinion-based design arguments back
        at the office.
      </p>
      <h2>Decades of experience in UX</h2>
      <p>
        Nielsen Norman Group principals and instructors have published the most
        cited literature in the field of user experience including Jakob
        Nielsen's "Designing Web Usability, " Don Norman's "The Design of
        Everyday Things," and Bruce Tognazzini's "Tog on Software Design." Our
        instructors are seasoned UX professionals that base their courses on the
        real demands of the jobs our attendees need to do. Our materials and
        exercises are rooted in the reality we have experienced throughout our
        careers
      </p>
      <h2>UX Certification</h2>
      <p>
        UX Certification reinforces and tests the user-experience abilities and
        knowledge gained in NN/g courses. Boost your credibility by being UX
        Certified by internationally-recognized experts
      </p>
    </div>

    <div class="col-12 col-md-6 mt-5">
      <p>What attendees have to say</p>
      <div class="row">
        <p class="pp col-2">“</p>
        <i  class="col-9"
          >At the NN/g seminar, it is like letting a breath of fresh air into
          your head. My conference notes look like an action plan for what to do
          when I get back to my desk.</i
        >
        <span class="mt-0">Ian Anderson, <b>European Commission, Brussels</b></span>
      </div>
      <div class="row">
        <p class="pp col-2">“</p>
        <i class="col-9"
          >One intensive and comprehensive day saved me weeks and months of
          reading textbooks.</i
        >
        <span
          >Wendy Moncur,
          <b>Dept. of Sustainability and Environment, Melbourne, Australia </b>
        </span>
      </div>

      <div class="row">
        <p class="pp col-2">“</p>
        <i class="col-9"
          >Superbly presented...can be directly applied to real problems. Easily
          the best seminar I have ever attended.</i
        >
        <span>Wendy Moncur, <b>May Department Stores Co. </b> </span>
      </div>


      <div class="row">
        <p class="pp col-2">“</p>
        <i class="col-9"
          >This session [Interaction Design] provided an excellent overview of interaction design, and learning the principles of usability from Tog felt like learning about gravity from Newton!</i
        >
        <span>keisha Thomas, <b>University of Chicago Press</b> </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
  <h3>Learn More About Participating in Virtual Training</h3>
  <p>This online learning event will use:</p>

  <ul>
    <li><b>Live, two-way video conferencing</b> for class lecture and Q&A</li>
    <li><b>Breakout sessions</b> for group discussions and learning activities</li>
    <li>Carefully designed <b>exercises using interactive collaboration tools</b>
    </li>
  </ul>
  <p>Networking and introductions will take place via a Slack Community, which will remain accessible to you going forward, so you can nurture connections and continue learning from your peers after the live event concludes.</p>
</div>
<div class="col-12 col-md-6 mt-4">
<img src="https://media.nngroup.com/media/editor/2020/10/16/group-photo-virtual-conference.jpg" alt="" class="my-img">
</div>
</div>
</div>



<div class="container mypara">
  <h3>Frequently Asked Questions</h3>
  <h2>Q: What is the virtual event like?</h2>
  <p>A: Watch our instructors explain what the virtual event will be like, and get tips for how to prepare and participate: <span class="myspan"> Watch a 3 minute video about participating in the Virtual UX Conference.</span></p>
  <h2>Q: Does my virtual course count toward UX Certification?</h2>
  <p>A: Yes. Our live online courses have the same high-quality content as our in-person courses, and both are eligible for <span>UX Certification</span> credit.</p>
  <h2>Q: Will I be able to network and get to know other participants?</h2>
  <p>A: We’ll have dedicated Slack channels for both course-related discussion and networking with fellow participants. You’ll also be able to use Slack before, during, and after the event to maintain your connections. You'll be invited to join the Slack community the week before the event starts.</p>
  <h2>Q: What equipment will I need to participate in NN/g virtual courses?</h2>
  <p>A: You’ll be streaming video and audio to your computer, and also speaking with other participants, so make sure you have:</p>
  <ul>
    <li>A laptop or desktop (using a tablet is not recommended)
    </li>
    <li>A stable high-speed internet connection</li>
    <li>Speakers or headphones</li>
    <li>A microphone</li>
    <li>A webcam</li>
  </ul>

  <h2>Q: Do I have to download any software?</h2>
   <div class="sp">A: You will need to be able to use <b> Zoom</b> to participate in NN/g virtual courses. Depending on the course, you may be required to use either <b> Google Suite</b> or <b>Miro</b>. Both tools are free to use and do not require you to create an account, but you should ensure your device permissions allow you to access these tools. Course materials will be shared using Hightail, a file-sharing service.</div>

   <ul class="ul">
    <li>Zoom is a video conferencing service. Our meetings follow security best practices including passwords and waiting rooms. We recommend installing the <span>zoom app</span>, which is free. If you are not able to install the Zoom software, you can also join through Chrome web browser. (Other browsers do not fully support all Zoom features used in our virtual courses.) <span>Test your access to Zoom.</span></li>

    <li>Google documents are used for collaborative learning activities. If you are not able to use Google Docs, you will be able to download copies of the activity materials but will not be able to fully participate in group work. <span>Test your access to Google Docs.</span></li>

    <li><span>Miro </span>is an online whiteboarding tool and is used for collaborative learning activities in some courses. You can download the Miro app or open a Miro link in your browser.</li>

    <li>Hightail will be used to share downloadable course materials  (such as PDF copies of presentation slides. <span>Test your access to Hightail.</span> (If your network blocks you from accessing Hightail, during the event our conference team will be able to assist you with alternative ways to receive your course materials.)</li>
   </ul>


   <h2>Q: Will my internet connection be fast enough?</h2>
   <p>A: You will need a stable internet connection with a minimum of 3 Mbps (up and down) in order to participate in NN/g virtual courses. Check your internet connection speed here: <span>https://www.speedtest.net/</span>. Ideally, a faster connection speed of 25 Mbps download and 5 mbps upload is recommended, to ensure HD video and audio quality. If using a wifi network, disconnect all other devices from that network to improve the streaming quality.
   </p>

   <h2>Q: Will content for the virtual event be the same as the in-person training events?</h2>
   <p>A: Yes, the virtual content covers the same information and exercises, and the exams will be the same as for in-person training events. Exercises and discussions will be adapted to facilitate collaboration in an online environment.
   </p>


   <h2>Q: Do I really need a microphone and webcam?</h2>
   <p>A: While it's possible to attend our virtual courses without your own webcam or microphone, you will not be able to fully participate in learning activities. Many of our courses use hands-on practice as the primary way of engaging with and learning design and research techniques. You'll learn more during these activities if you can fully participate, and your collaboration partners can see and hear you. We also recommend using headphones </p>

   <h2>Q: Can I join from my phone or tablet?</h2>
   <p>A: We <b class="fw-bold">do not recommend attending our classes from a small-screen device.</b> Although you will be able to connect to the meeting, it will be difficult to see the detailed examples shared during class, and extremely difficult to participate in collaborative exercises which require typing and interactive documents.
   </p>

   <h2>Q: How will I get the links to my course meetings?
  </h2>
  <p> A: 60 minutes before your class begins, your link to join will be available when you log in at <span>www.nngroup.com/login/</span>.</p>


  <h2>Q: Can I watch recordings of my classes after the event?
  </h2>
  <p>A: Virtual courses are live events which extend throughout the day, and include many periods of interactive exercises in which there is no presenter. The learning experience cannot be replicated by simply watching recordings after the event. We will not be making recordings of this event, and making your own recordings is not permitted.

  </p>
</div>

<div class="container py-5 d-none d-sm-block">
  <div class="row myrow">
    <div class="col-4">
     <img src="https://media.nngroup.com/media/files/images/Virtual_Networking-opportunities.png.600x450_q75_autocrop_crop-smart_upscale.png" alt="">
    </div>

    <div class="col-4">
      <img src="https://media.nngroup.com/media/files/images/Virtual_Live-QA.png.600x450_q75_autocrop_crop-smart_upscale.png" alt="">
    </div>

    <div class="col-4">
      <img src="https://media.nngroup.com/media/files/images/Virtual_Interactive-collaborative.png.600x450_q75_autocrop_crop-smart_upscale.png" alt="">
    </div>
  </div>
</div>


<p class="text-center myp">"UX Conference" is a trademark of Nielsen Norman Group, registered with the United States Patent and Trademark Office, Reg No. 4,970,733.</p>