<div class="mt-5">
  <ul class="nav nav-tabs  text-black" id="myTab" role="tablist">
    <li class="nav-item " role="presentation">
      <button class="nav-link active border-0 text-black" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Interaction</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link border-0 text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Research</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link border-0 text-black" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Management</button>
    </li>
  </ul>
  <div class="tab-content mt-2" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="row gap-4">
      <div class="card card1 col-12 col-md-3">
        <div class="yellow"></div>
        <div class="p-2">
          <div class="div">
            <img
              src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
              alt="Practical AI for UX Professionals"
            />
          </div>
          <h6>Practical AI for UX Professionals</h6>
          <p>Leverage artificial intelligence tools to enhance</p>
          <div class="d-flex">
            <div class="triangle"></div>
            <p class="m-2">INTERACTION</p>
          </div>
        </div>
      </div>

      <div class="card card1 col-12 col-md-3">
        <div class="yellow"></div>
        <div class="p-2">
          <div class="div">
            <img
              src="https://media.nngroup.com/media/courses/icons/Generating_Big_Ideas.svg"
              alt="Practical AI for UX Professionals"
            />
          </div>
          <h6>Practical AI for UX Professionals</h6>
          <p>Leverage artificial intelligence tools to enhance</p>
          <div class="d-flex">
            <div class="triangle"></div>
            <p class="m-2">INTERACTION</p>
          </div>
        </div>
      </div>

      <div class="card card1 col-12 col-md-3">
        <div class="yellow"></div>
        <div class="p-2">
          <div class="div">
            <img
              src="https://media.nngroup.com/media/courses/icons/UX_Basic_Training-edit.svg"
              alt="Practical AI for UX Professionals"
            />
          </div>
          <h6>Practical AI for UX Professionals</h6>
          <p>Leverage artificial intelligence tools to enhance</p>
          <div class="d-flex">
            <div class="triangle"></div>
            <p class="m-2">INTERACTION</p>
          </div>
        </div>
      </div>

      <div class="card card1 col-12 col-md-3 d-flexn align-items-center justify-content-center hover-border">
        <img src="https://media.nngroup.com/static/certification/images/see-all.svg" alt="">
        <h5 class="fs-5">See All Course</h5>
      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

      <div class="row gap-4">
        <div class="card card2 col-12 col-md-3">
          <div class="blue"></div>
          <div class="p-2">
            <div class="div">
              <img
                src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
                alt="Practical AI for UX Professionals"
              />
            </div>
            <h6>Practical AI for UX Professionals</h6>
            <p>Leverage artificial intelligence tools to enhance</p>
            <div class="d-flex">
              <div class="triangle"></div>
              <p class="m-2">INTERACTION</p>
            </div>
          </div>
        </div>

        <div class="card card2 col-12 col-md-3">
          <div class="blue"></div>
          <div class="p-2">
            <div class="div">
              <img
                src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
                alt="Practical AI for UX Professionals"
              />
            </div>
            <h6>Practical AI for UX Professionals</h6>
            <p>Leverage artificial intelligence tools to enhance</p>
            <div class="d-flex">
              <div class="triangle"></div>
              <p class="m-2">INTERACTION</p>
            </div>
          </div>
        </div>


        <div class="card card2 col-12 col-md-3">
          <div class="blue"></div>
          <div class="p-2">
            <div class="div">
              <img
                src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
                alt="Practical AI for UX Professionals"
              />
            </div>
            <h6>Practical AI for UX Professionals</h6>
            <p>Leverage artificial intelligence tools to enhance</p>
            <div class="d-flex">
              <div class="triangle"></div>
              <p class="m-2">INTERACTION</p>
            </div>
          </div>
        </div>
       




        <div class="card card1 col-12 col-md-3 d-flexn align-items-center justify-content-center hover-border">
          <img src="https://media.nngroup.com/static/certification/images/see-all.svg" alt="">
          <h5 class="fs-5">See All Course</h5>
        </div>

      </div>


    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      <div class="row gap-4">
        <div class="card card3 col-12 col-md-3">
          <div class="green"></div>
          <div class="p-2">
            <div class="div">
              <img
                src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
                alt="Practical AI for UX Professionals"
              />
            </div>
            <h6>Practical AI for UX Professionals</h6>
            <p>Leverage artificial intelligence tools to enhance</p>
            <div class="d-flex">
              <div class="triangle"></div>
              <p class="m-2">INTERACTION</p>
            </div>
          </div>
        </div>

        <div class="card card3 col-12 col-md-3">
          <div class="green"></div>
          <div class="p-2">
            <div class="div">
              <img
                src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
                alt="Practical AI for UX Professionals"
              />
            </div>
            <h6>Practical AI for UX Professionals</h6>
            <p>Leverage artificial intelligence tools to enhance</p>
            <div class="d-flex">
              <div class="triangle"></div>
              <p class="m-2">INTERACTION</p>
            </div>
          </div>
        </div>


        <div class="card card3 col-12 col-md-3">
          <div class="green"></div>
          <div class="p-2">
            <div class="div">
              <img
                src="https://media.nngroup.com/media/courses/icons/Emerging_Patterns.svg"
                alt="Practical AI for UX Professionals"
              />
            </div>
            <h6>Practical AI for UX Professionals</h6>
            <p>Leverage artificial intelligence tools to enhance</p>
            <div class="d-flex">
              <div class="triangle"></div>
              <p class="m-2">INTERACTION</p>
            </div>
          </div>
        </div>
       




        <div class="card card1 col-12 col-md-3 d-flexn align-items-center justify-content-center hover-border">
          <img src="https://media.nngroup.com/static/certification/images/see-all.svg" alt="">
          <h5 class="fs-5">See All Course</h5>
        </div>

      </div>

    </div>
  </div>
</div>
