<div class="con">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 my-5">
        <h2>UX Certification</h2>
        <h6>Gain skills and recognition with a reputable UX Certificate</h6>
      </div>
      <div class="col-6 text-center d-none d-sm-block">
        <img
          class="imgs"
          src="https://media.nngroup.com/static/img/certification-badge.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div>
  <!-- Nav tabs -->
  <div class="mynav">
    <ul class="nav container" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="recent-tab"
          data-bs-toggle="tab"
          data-bs-target="#mostRecent"
          type="button"
          role="tab"
          aria-controls="mostRecent"
          aria-selected="true"
        >
          Most Recent
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="popular-tab"
          data-bs-toggle="tab"
          data-bs-target="#mostPopular"
          type="button"
          role="tab"
          aria-controls="mostPopular"
          aria-selected="false"
        >
          Most Popular
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="videos-tab"
          data-bs-toggle="tab"
          data-bs-target="#videosOnly"
          type="button"
          role="tab"
          aria-controls="videosOnly"
          aria-selected="false"
        >
          Videos Only
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link d-none d-sm-block"
          id="articles-tab"
          data-bs-toggle="tab"
          data-bs-target="#articlesOnly"
          type="button"
          role="tab"
          aria-controls="articlesOnly"
          aria-selected="false"
        >
          Articles Only
        </button>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content mt-3">
    <div
      class="tab-pane fade show active MyClass"
      id="mostRecent"
      role="tabpanel"
      aria-labelledby="recent-tab"
    >
      <div class="container py-4">
        <p class="col-12 col-md-6">
          Prove that you successfully completed UX training. With a customizable
          curriculum and flexible schedule, NN/g's UX Certification has helped
          thousands of professionals build UX skills or start their careers.
        </p>
      </div>
      <div class="container py-5">
        <h3>2 UX Certifications to Show Progress</h3>
        <div class="d-flex gap-4 flex-column flex-md-row">
          <div class="col-12 col-md-6 Progress">
            <h2 class="text-white p-4">UX Certification</h2>
            <div class="p-5">
              <h5>
                Gain a solid foundation in UX. <br />
                Showcase your knowledge to <br />
                colleagues and employers.
              </h5>

              <div class="p-2">
                <span>REQUIREMENTS</span>
                <P>Take any <b> 5 courses + pass 5 exams </b></P>
              </div>

              <div class="p-2">
                <span>TIME COMMITMENT</span>
                <p>30+ hours of training</p>
              </div>

              <div class="p-2">
                <span>TOTAL INVESTMENT</span>
                <P>Starts at $5,950 USD</P>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 Progress">
            <h2 class="text-white p-4">UX Master Certification</h2>
            <div class="p-5">
              <h5>
                Develop expertise and skills. Earn respect and recognition as a
                UX Master.
              </h5>

              <div class="p-2">
                <span>REQUIREMENTS</span>
                <P>Take any <b> 15 courses + pass 5 exams </b></P>
              </div>

              <div class="p-2">
                <span>TIME COMMITMENT</span>
                <p>150+ hours of training</p>
              </div>

              <div class="p-2">
                <span>TOTAL INVESTMENT</span>
                <P>Starts at $17,950 USD</P>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-5">
        <h3>UX Certification Benefits</h3>
        <div class="div row gap-3">
          <div class="card p-2 col-6 col-md-3">
            <p>Build a solid UX foundation</p>
            <img
              src="https://media.nngroup.com/static/certification/images/foundation.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3">
            <p>Build your skills + learn new ones</p>
            <img
              src="https://media.nngroup.com/static/certification/images/new-skills.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3 py-4">
            <p>Gain UX credentials</p>
            <img
              src="https://media.nngroup.com/static/certification/images/certificate.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3">
            <p>Share proof of training</p>
            <img
              src="https://media.nngroup.com/static/certification/images/approval.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3">
            <p>Commitment to growth</p>
            <img
              src="https://media.nngroup.com/static/certification/images/growth.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3">
            <p>Gain credibility + confidence</p>
            <img
              src="https://media.nngroup.com/static/certification/images/credibility.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3">
            <p>Educate others about UX</p>
            <img
              src="https://media.nngroup.com/static/certification/images/convince.svg"
              alt=""
            />
          </div>
          <div class="card p-2 col-6 col-md-3">
            <p>Start a new UX career</p>
            <img
              src="https://media.nngroup.com/static/certification/images/kick-start.svg"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="container red p-5 text-white my-5">
        <h1 class="fw-bold text-white fs-3">How to Get Started</h1>
        <div class="row mt-5">
          <div class="col-1 col-md-1 text-white fw-bold fs-5 text-center">
            <div class="div1 text-center p-2">1</div>
            <div class="divs line1"></div>
            <div class="div1 text-center p-2">2</div>
            <div class="divs line2"></div>
            <div class="div1 text-center p-2">3</div>
            <div class="divs line3"></div>
            <div class="div1 text-center p-2">4</div>
            <div class="divs line4"></div>
            <div class="div1 text-center p-2">5</div>
          </div>

          <div class="col-11 col-md-7">
            <h5 class="fw-light">Create your own curriculum</h5>
            <p>
              Choose 5 of our 50+ full-day, live training courses. <br />
              <span class="border-bottom">Browse all courses</span>
            </p>

            <h5 class="fw-light mt-5">
              Attend training courses on your schedule
            </h5>
            <p>
              Schedule 1 course at a time or attend a week of full-day courses —
              whatever works for you! There’s no deadline to complete UX
              Certification.
            </p>

            <h5 class="fw-light mt-5">Pass the online exams</h5>
            <p>
              Take each online exam within 35 days of attending each course. You
              get 3 attempts to pass each exam.<br />
              <span class="border-bottom">Learn more about exams </span>
            </p>

            <h5 class="fw-light mt-5">
              Automatically receive your UX Certification
            </h5>
            <p>
              We keep track of the courses and exams you take. After taking 5
              courses and passing 5 exams, you’ll receive your UX Certification.
              Take 10 more courses and pass the exams to receive a UX Master
              Certification.
            </p>

            <h5 class="fw-light mt-5">
              Showcase your UX Certification to employers
            </h5>
            <p>
              Join our list of
              <span class="border-bottom">UX Certified people</span> once you
              become UX Certified. We’ll also send you instructions and a badge
              to display on your LinkedIn profile or portfolio site.
            </p>

            <span class="border-bottom">See UX Certification FAQs</span>
          </div>

          <div class="col-4 myimg d-flex flex-column justify-content-between">
            <img
              src="https://media.nngroup.com/static/certification/images/enroll-icon.svg"
              alt=""
              class="d-none d-md-block"
            />
            <img
              src="https://media.nngroup.com/static/certification/images/course-icon.svg"
              alt=""
              class="d-none d-md-block"
            />
            <img
              src="https://media.nngroup.com/static/certification/images/exam.svg"
              alt=""
              class="d-none d-md-block"
            />
            <img
              src="https://media.nngroup.com/static/certification/images/certificate-get-started.svg"
              alt=""
              class="d-none d-md-block"
            />
            <img src="bkbdk" alt="" />
          </div>
        </div>
      </div>

      <div class="container">
        <h3>Need Help Choosing Training Courses?</h3>
        <p>
          Explore our most popular training courses to start planning your UX Certification. Or, browse all 50 of our UX training courses.
        </p>
        <app-ux-card></app-ux-card>
      </div>

      <div class="container py-5">
        <h3 class="fw-bolder">Add a Specialty to Your UX Certification</h3>
        <p>
          Take 5 courses in 1 of our 3 Specialty areas (interaction design,
          research, or management) to get the Specialty added to your UX
          Certification. You can still get UX Certified by taking 5 courses
          across the 3 different Specialties.
        </p>
        <div class="row d-flex justify-content-around gap-4">
          <div class="cards col-12 col-md-3">
            <div class="d-flex mb-2">
              <div class="triangle"></div>
              <p class="m-2 pp">Iteraction Design</p>
            </div>
            <p class="ppp">
              Learn best practice principles that you can apply to any design
              situation, including web, mobile, complex and simple apps, and
              consumer products.
            </p>
          </div>

          <div class="cards col-12 col-md-3">
            <div class="d-flex mb-2">
              <div class="circle"></div>
              <p class="m-2 pp">Reserch</p>
            </div>
            <p class="ppp">
              Learn how to conduct UX research methods correctly to gather sound
              data to improve the user experience. Get hands-on practice.
            </p>
          </div>

          <div class="cards col-12 col-md-3">
            <div class="d-flex mb-2">
              <div class="rectangle"></div>
              <p class="m-2 pp">Management</p>
            </div>
            <p class="ppp">
              Learn to apply known UX and management practices to effectively
              plan, communicate, negotiate, and measure UX work, people, and
              process.
            </p>
          </div>
        </div>
      </div>

      <div class="people">
        <div class="container">
          <h3>What UX Certified People are Saying</h3>
          <div class="row my-5 gap-3">
            <div class="mycard col-6 col-md-3">
              <div class="text-center">
                <img
                  src="https://media.nngroup.com/static/certification/images/featured_people/sandy-carter.jpg"
                  alt=""
                  class="myimgs"
                />
              </div>
              <div class="card-div">
                <i>
                  <p class="mypara">
                    With the support and resources by the UXC program, we are
                    making a positive and lasting difference in the way our
                    organization approaches design.
                  </p>
                </i>
                <span>Sandy Carter</span>

                <p>
                  UX Manager <br />
                  Harris Organization
                </p>
              </div>
            </div>

            <div class="mycard col-6 col-md-3">
              <div class="text-center">
                <img
                  src="https://media.nngroup.com/static/certification/images/featured_people/jaime-wolf.jpg"
                  alt=""
                  class="myimgs"
                />
              </div>
              <div class="card-div">
                <i>
                  <p class="mypara">
                    I chose the NN/g UXMC program instead of a traditional
                    master's degree.
                  </p>
                </i>
                <span>Jaime Wolf</span>

                <p>
                  Sr. User Experience Designer Amazon<br />
                  Amazon
                </p>
              </div>
            </div>

            <div class="mycard col-6 col-md-3">
              <div class="text-center">
                <img
                  src="https://media.nngroup.com/static/certification/images/featured_people/corey-nunez.jpg"
                  alt=""
                  class="myimgs"
                />
              </div>
              <div class="card-div">
                <i>
                  <p class="mypara">
                    Having the UX Certification adds credibility to my decisions
                    within this industry.
                  </p>
                </i>
                <span>Corey Nunez</span>

                <p>
                  UX Designer

                  <br />
                  Barrick Gold Corporation
                </p>
              </div>
            </div>

            <div class="mycard col-6 col-md-3">
              <div class="text-center">
                <img
                  src="https://media.nngroup.com/static/certification/images/featured_people/marc-kollmann.jpg"
                  alt=""
                  class="myimgs"
                />
              </div>
              <div class="card-div">
                <i>
                  <p class="mypara">
                    My co-worker said, ‘Wow! You really came back with a bunch
                    of stuff’, which we're now using.
                  </p>
                </i>
                <span>Marc Kollmann</span>

                <p>
                  Sr. UX/UI Designer
                  <br />
                  Kollmann Creative
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="container">
      <h3 class="mb-5">Frequently Asked Questions about UX Certification</h3>


      <div class="accordion" id="accordionExample">
        <div class="accordion-item border-0 my-0" *ngFor="let item of accordionData; let i = index">
          <h2 class="accordion-header">
            <button 
              class="accordion-button d-flex justify-content-between align-items-center w-100" 
              type="button" 
              (click)="toggleIcon(i)" 
              [attr.data-bs-toggle]="'collapse'" 
              [attr.data-bs-target]="'#collapse' + i" 
              [attr.aria-expanded]="expandedItems[i]" 
              [attr.aria-controls]="'collapse' + i"
              [class.collapsed]="!expandedItems[i]"
            >
              <span>{{ item.title }}</span>
              <span class="icon myicon">{{ expandedItems[i] ? '-' : '+' }}</span>
            </button>
          </h2>
          <div 
            [id]="'collapse' + i" 
            class="accordion-collapse collapse" 
            [class.show]="expandedItems[i]" 
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              {{ item.content }}
            </div>
          </div>
        </div>
      </div>
      
      
      
     </div>
     <div class="py-5">  
      <div class="container">
        <h3 >Learn With Leading Organizations</h3>
        <div class="row d-flex justify-content-around myimgses p-5 gap-4">
          <div class="col-12 col-md-2 text-center"><img src="https://media.nngroup.com/static/certification/images/bank-of-america-logo.png" alt=""></div>

          <div class="col-12 col-md-2 text-center"><img src="https://media.nngroup.com/static/certification/images/pandg-logo.png" alt=""></div>

          <div class="col-12 col-md-2 my-3 text-center"><img src="https://media.nngroup.com/static/certification/images/google-logo.png" alt=""></div>

          <div class="col-12 col-md-2 my-3 text-center"><img src="https://media.nngroup.com/static/certification/images/cornel-uni-logo.png" alt="" class="img1"></div>

          <div class="col-12 col-md-2 mx-3 text-center"><img src="https://media.nngroup.com/static/certification/images/salesforce-logo.png" alt="" class="img2"></div>
        </div>
      </div>
     </div>
    </div>

    <div
      class="tab-pane fade MyClass"
      id="mostPopular"
      role="tabpanel"
      aria-labelledby="popular-tab"
    >
      2
    </div>

    <div
      class="tab-pane fade MyClass"
      id="videosOnly"
      role="tabpanel"
      aria-labelledby="videos-tab"
    >
      3
    </div>

    <div
      class="tab-pane fade MyClass"
      id="articlesOnly"
      role="tabpanel"
      aria-labelledby="articles-tab"
    >
      4
    </div>
  </div>
</div>
